.navigation {
  position: fixed;
  bottom: 2%;
  width: calc(100vw - 10%);
  margin-left: 20px;
  height: 60px;
  background-color: var(--sidebar-color);
  border-radius: 15px;
  display: none;
  box-shadow: -1px 3px 38px -19px rgba(105,92,254,1);
}

@media screen and (max-width: 550px) {
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navigation ul {
  display: flex;
  width: 350px;
}

.navigation ul li {
  list-style: none;
  position: relative;
  width: 70px;
  height: 60px;
  z-index: 2;
}

.navigation ul li a {
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 65px;
  font-size: 1.25rem;
  transition: 0.5s;
  color: #222327;
}

.navigation ul li.active a .icon {
  transform: translateY(-32px);
  color: var(--primary-color-main);
}
.navigation ul li a .text {
  position: absolute;
  padding: 2px 7px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 0.75em;
  background-color: var(--primary-color-main);
  color: var(--sidebar-color);
  opacity: 0;
  transform: translateY(15px);
}

.navigation ul li.active a .text {
  transform: translateY(-4px);
  opacity: 1;
}

.indicator {
  position: absolute;
  top: -50%;
  width: 65px;
  height: 65px;
  background-color: var(--sidebar-color);
  z-index: 1;
  transition: 0.5s;
  border-radius: 50%;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}
