.searched-users {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  width: 100%;
  margin: 2rem auto;
  grid-gap: 0.8rem;
}
.suggested-users {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  width: 100%;
  margin: 2rem auto;
  grid-gap: 0.8rem;
}

.no-searched-users {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.no-searched-users > img {
  width: 20rem;
  border-radius: 15px;
}

@media screen and (max-width: 550px) {
  .no-searched-users > img {
    width: 13rem;
    border-radius: 15px;
  }
}
