.edit-form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 100%;
  margin: 0 auto;
  grid-gap: 0.8rem;
  margin: 1rem 0.55rem;
  margin-top: 3rem;
}

.btns-container {
  width: "100%";
  display: flex;
  align-self: center;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 1rem;
}